In [3]:
import pandas as pd

dict = {
    'Nama': ['Fuad', 'Multazam', 'Yusran', 'Syafar', 'Fajrin'],
    'Asal Daerah': ['Jakarta', 'Makassar', 'Bandung', 'Makassar', 'Bandung']
    }

df = pd.DataFrame.from_dict(dict)
df.head()

       Nama Asal Daerah
0      Fuad     Jakarta
1  Multazam    Makassar
2    Yusran     Bandung
3    Syafar    Makassar
4    Fajrin     Bandung

In [5]:
df['Asal Daerah'].value_counts()

Makassar    2
Bandung     2
Jakarta     1
Name: Asal Daerah, dtype: int64