In [2]:
import mysql.connector

mysql = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'root',
    database = 'python_mysql'
)

cursor = mysql.cursor()

# query = """CREATE TABLE perguruan_tinggi 
# (id INT PRIMARY KEY AUTO_INCREMENT, 
# nama_pt VARCHAR(255) NOT NULL, 
# id_prodi SMALLINT);"""

# cursor.execute(query)

cursor.execute("DROP TABLE perguruan_tinggi")

cursor.close()

True