In [8]:
import mysql.connector

mysql = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'root',
    database = 'python_mysql'
)

cursor = mysql.cursor()

In [9]:
# tambah
query = """INSERT INTO perguruan_tinggi VALUES 
(1, 'Universitas Hasanuddin', 1)"""
cursor.execute(query)
mysql.commit()

In [10]:
# update
query = """UPDATE perguruan_tinggi 
SET nama_pt = 'Universitas Indonesia' 
WHERE id = 1"""
cursor.execute(query)
mysql.commit()

In [11]:
# hapus
query = "DELETE FROM perguruan_tinggi WHERE id = 1"
cursor.execute(query)
mysql.commit()

cursor.close()

True