In [2]:
import mysql.connector

mysql = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'root',
    database = 'python_mysql'
)

cursor = mysql.cursor()

query = "SELECT * FROM perguruan_tinggi"

cursor.execute(query)

data = cursor.fetchall()

for row in data:
    print(row)

cursor.close()

(1, 'Universitas Hasanuddin', 1)
(2, 'Universitas Indonesia', 3)
(3, 'Institut Teknologi Bandung', 4)

True