In [1]:
import numpy as np

data = np.zeros(shape=(3,2))
data

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [4]:
import pandas as pd

sample = {'col1':[0,0,0],'col2':[0,0,0]}
df = pd.DataFrame(sample)
df

   col1  col2
0     0     0
1     0     0
2     0     0

In [ ]:
# Convert DataFrame to Array
np.array(data)

# Convert Array to DataFrame
pd.DataFrame(data)