In [26]:
import pandas as pd

df = pd.read_csv('Data/Universitas.csv', index_col=['Unnamed: 0'])
df.drop(1, inplace=True)

In [27]:
df.head()

                  Nama_PT      Program Studi      Kota
0  Universitas Hasanuddin           Aktuaria  Makassar
2  Universitas Hasanuddin         Matematika  Makassar
3   Universitas Indonesia      Ilmu Komputer     Depok
4   Universitas Indonesia           Filsafat     Depok
5   Universitas Indonesia  Teknik Arsitektur     Depok

In [28]:
df.loc[2,:]

Nama_PT          Universitas Hasanuddin
Program Studi                Matematika
Kota                           Makassar
Name: 2, dtype: object

In [29]:
df.iloc[2,:]

Nama_PT          Universitas Indonesia
Program Studi            Ilmu Komputer
Kota                             Depok
Name: 3, dtype: object

In [30]:
df['Nama_PT']

0          Universitas Hasanuddin
2          Universitas Hasanuddin
3           Universitas Indonesia
4           Universitas Indonesia
5           Universitas Indonesia
6           Universitas Indonesia
7          Universitas Gajah Mada
8     Universitas Negeri Makassar
9      Institut Teknologi Bandung
10     Institut Teknologi Bandung
11       Institut Teknologi Bogor
12     Institut Teknologi Habibie
13          Universitas Airlangga
14         Universitas Hasanuddin
Name: Nama_PT, dtype: object

In [32]:
df['Nama_PT'][8]

'Universitas Negeri Makassar'

In [34]:
df['Program Studi'][4]

'Filsafat'